@font-face {
  font-family: "Mono";
  src: url("./fonts/ABCMonumentGroteskSemi-Mono-Regular.woff") format("woff"),
    url("./fonts/ABCMonumentGroteskSemi-Mono-Regular.woff2") format("woff2");
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f0f0f0;
  font: 9px/14px "Mono";
  color: #111;

  .link {
    color: inherit;

    &:hover {
      color: #777;
    }
  }
}
